version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: de_postgres
    environment:
      POSTGRES_USER: de_user
      POSTGRES_PASSWORD: de_pass
      POSTGRES_DB: de_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  python:
    image: python:3.13
    container_name: de_python
    volumes:
      - ./version-1-beginner:/app
    working_dir: /app
    depends_on:
      - postgres
    command: tail -f /dev/null  

volumes:
  pgdata:
